GOOGLE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----
GOOGLE_SHEET_ID=your-google-sheet-id
PORT=5000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
